<button {{#triggerId}}id="{{triggerId}}" {{/triggerId}}class="drop-down__trigger{{#fixedTrigger}} drop-down__trigger--fixed{{/fixedTrigger}}{{#flushDirection}} drop-down__trigger--{{flushDirection}}{{/flushDirection}}">
	{{text}}{{^text}}{{triggerText}}{{/text}}
</button>
