.drop-down {

  /* default styles */
  display: inline-block;
  font-family: "proxima-nova", Helvetica, Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;

  .js & {

    /* styles while page is loading */
    height: 46px;

  }

  &--built {

    /* styles when component is built but unenhanced */
    height: 46px;

  }

  &--enhanced {

    /* styles when component is completely enhanced */

  }

  &__select {

    &--hidden {

      display: none;

    }

  }

  &__trigger {

    background-color: transparent;
    border-color: #CCC;
    border-style: solid;
    border-width: 0 0 2px 0;
    color: #333;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    font-family: "proxima-nova", Helvetica, Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    left: 0;
    line-height: 24px;
    margin: 0;
    padding: 10px 55px 10px 30px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 0;
    transition: all .1s;
    white-space: nowrap;
    width: 100%;

    &:before {

      border-color: #333 transparent transparent transparent;
      border-style: solid;
      border-width: 6px 5px;
      bottom: 13px;
      content: '';
      position: absolute;
      right: 33px;
      transition: all .1s;

    }

    &:hover,
    &:focus {

      color: #00ADEF;

      &:before {

        border-color: #00ADEF transparent transparent transparent;

      }

    }

    &--active {

      z-index: 111;

    }

    &--left,
    &--right {

      position: relative;

    }

  }

  &__menu,
  &__sizer {

    border-bottom: 2px solid #CCC;
    border-top: 2px solid #CCC;
    display: inline-block;
    left: 0;
    list-style: none;
    margin: 0;
    max-height: 176px;
    min-width: 100%;
    opacity: 1;
    overflow: scroll;
    padding: 0;
    position: absolute;
    top: 44px;
    z-index: 11;

    .drop-down--unenhanced & {

      max-height: none;
      position: relative;
      top: 0;

    }

    .drop-down--built & {

      max-height: 200px;
      position: absolute;
      top: 44px;

    }

    &--flush-right {

      left: auto;
      right: 0;

    }


    &--flush-right,
    &--flush-left,
    &--flush-both {

      & .drop-down__menu-option-trigger {

        padding-right: 30px;

      }

    }

    &--hidden {

      opacity: 0;
      top: 0;
      visibility: hidden;

    }

    .drop-down--enhanced & {

      transition: all .1s;

    }

    &-option {

      position: relative;
      transition: all .1s;
      width: auto;

      &--current {

        border-color: #00ADEF;
        z-index: 11;

        .drop-down__menu-option-trigger {

          background-color: #E8E8E8;
          border-left-color: #00ADEF;
          color: #00ADEF;
          z-index: 111;

        }

      }

      &--hidden {

        display: none;

      }

      &-trigger {

        background-color: #FFF;
        border-left: 2px solid #CCC;
        border-right: 2px solid #CCC;
        color: #333;
        cursor: hand;
        cursor: pointer;
        display: block;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 53px 10px 28px;
        position: relative;
        text-decoration: none;
        transition: all .1s;
        white-space: nowrap;
        width: auto;

        &:hover,
        &:focus {

          border-left-color: #333;
          color: #00ADEF;
          z-index: 11;

        }

      }

    }

  }

  &__sizer {

    border: none;
    display: inline-block;
    height: 44px;
    position: relative;
    top: 0;
    visibility: hidden;

    .drop-down--unenhanced &,
    .drop-down--built & {

      max-height: none;
      position: relative;
      top: 0;

    }

    .drop-down--enhanced & {

      transition: none;

    }

    &--flush-right,
    &--flush-left,
    &--flush-both {

      & .drop-down__menu-option-trigger {

        padding-right: 30px;

      }

    }

  }

}
