<{{#select}}div{{/select}}{{^select}}nav{{/select}}{{#id}} id="{{id}}"{{/id}} class="drop-down drop-down--unenhanced{{#build}} drop-down--built{{/build}}{{#class}} {{class}}{{/class}}">
  {{#select}}<select class="drop-down__select{{#hideCurrent}} drop-down__select--hide-current{{/hideCurrent}}{{#build}} drop-down__select--hidden{{/build}}" id="{{id}}" name="{{name}}">
    {{#options}}
    <option value="{{value}}"{{#selected}} selected{{/selected}}>{{label}}</option>
    {{/options}}
  </select>
    {{#build}}<ul class="drop-down__sizer">
      {{#options}}
      <li class="drop-down__menu-option{{#selected}} drop-down__menu-option--current{{#hideCurrent}} drop-down__menu-option--hidden{{/hideCurrent}}{{/selected}}"><a tabindex="-1" class="drop-down__menu-option-trigger" href="javascript:;">{{label}}</a></li>
      {{/options}}
    </ul>
    {{#options}}{{#selected}}<button class="drop-down__trigger">{{label}}</button>{{/selected}}</option>{{/options}}
    <ul class="drop-down__menu drop-down__menu--hidden">
      {{#options}}
      <li class="drop-down__menu-option{{#selected}} drop-down__menu-option--current{{#hideCurrent}} drop-down__menu-option--hidden{{/hideCurrent}}{{/selected}}"><a tabindex="-1" class="drop-down__menu-option-trigger" href="javascript:;">{{label}}</a></li>
      {{/options}}
    </ul>
    {{/build}}
  {{/select}}
  {{#menu}}
    {{#build}}
    {{^flush}}
  <ul class="drop-down__sizer">
      {{#items}}
      <li class="drop-down__menu-option"><a tabindex="-1" class="drop-down__menu-option-trigger" href="javascript:;">{{text}}</a></li>
      {{/items}}
  </ul>
  {{/flush}}
  <button class="drop-down__trigger drop-down__trigger--fixed {{#flush}} drop-down__trigger--{{flush}}{{/flush}}">{{menuText}}</button>
    {{/build}}
  <ul class="drop-down__menu drop-down__menu--hidden{{#flush}} drop-down__menu--flush-{{flush}}{{/flush}}">
    {{#items}}<li class="drop-down__menu-option{{#selected}} drop-down__menu-option--current{{#hideCurrent}} drop-down__menu-option--hidden{{/hideCurrent}}{{/selected}}"><a tabindex="-1" class="drop-down__menu-option-trigger" href="javascript:;">{{label}}</a></li>
    {{/items}}
  </ul>
  {{/menu}}
</{{#select}}div{{/select}}{{^select}}nav{{/select}}>
<script id="drop-down-{{uniqueIdentifier}}">
  SignalUI.initializeComponent({ scriptId: '{{uniqueIdentifier}}', componentType: 'drop-down' });
</script>
