<{{#select}}div{{/select}}{{^select}}nav{{/select}}{{#id}} id="{{id}}"{{/id}} class="drop-down drop-down--unenhanced{{#build}} drop-down--built{{/build}}{{#variant}} drop-down--variant-{{variant}}{{/variant}}{{#class}} {{class}}{{/class}}">
  {{#select}}
    <select class="drop-down__select{{#hideCurrent}} drop-down__select--hide-current{{/hideCurrent}}{{#build}} drop-down__select--hidden{{/build}}" id="{{selectId}}" name="{{selectName}}">
      {{#menuItems}}
      <option value="{{value}}"{{#isCurrent}} selected{{/isCurrent}}>{{text}}</option>
      {{/menuItems}}
    </select>
    {{#build}}
      {{> drop-down-sizer}}
      {{#menuItems}}{{#isCurrent}}{{> drop-down-trigger}}{{/isCurrent}}{{/menuItems}}
      {{> drop-down-menu}}
    {{/build}}
  {{/select}}
  {{#menu}}
    {{#build}}
      {{^flushDirection}}
        {{> drop-down-sizer}}
      {{/flushDirection}}
      {{> drop-down-trigger}}
    {{/build}}
    {{> drop-down-menu}}
  {{/menu}}
</{{#select}}div{{/select}}{{^select}}nav{{/select}}><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" onload="(function(i){var c;if(c=ChopSuey.registeredComponents()['dropDown']){c.initialize(i)}}(this));" />
