<ul class="drop-down__sizer{{#flush}} drop-down__menu--flush-{{.}}{{/flush}}">
  {{#menuItems}}
    <li class="drop-down__menu-option"><span class="drop-down__menu-option-trigger">{{text}}</span></li>
  {{/menuItems}}
</ul>
