dist/components/css/components.css    -diff  
dist/components/css/components.min.css    -diff
dist/components/js/components.js    -diff
dist/components/js/components.min.js    -diff
dist/library/signal-ui.js    -diff
dist/library/signal-ui.min.js    -diff