# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Caches
.sass-cache

# Packages
node_modules/
bower_components/

# Compiled
src/components/**/templates/*.js
src/components/templates.js
demo/css
demo/js
dist/
