<div{{#id}} id="{{id}}"{{/id}} class="accordion drop-down--accordion{{#build}} drop-down--built{{/build}}{{#class}} {{class}}{{/class}}">
  TODO: YOUR TEMPLATE
</div><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" onload="ChopSuey.initializeComponent({image:this,componentType:'accordion'});" />
