<div id="{{ id }}" class="heading-controls">
  <nav class="drop-down drop-down--unenhanced drop-down--built">
    <button class="drop-down__trigger drop-down__trigger--fixed">{{ buttonText }}</button>
    <ul class="drop-down__menu drop-down__menu--hidden drop-down__menu--flush-right">
      {{# options }}
        <li class="drop-down__menu-option"><a tabindex="-1" class="drop-down__menu-option-trigger" href="{{ href }}">{{ text }}</a></li>
      {{/ options}}
    </ul>
  </nav>
  <script id="drop-down-4">
    ChoppedSUI.initializeWidget({ scriptId: 'drop-down-4', widgetType: 'drop-down' });
  </script>
</div>
